body {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 15px;
    height: 100%;
}

.row {
    height: 100%;
}

.col-2 {
    background-color: #ffeb0a;
    padding: 15px;
}

.col-2 > * {
    margin-top: 25px;
    margin-bottom: 25px;
}

.col-2, .col-10 {
    height: 100%;
}

.admin-pic {
    width: 100%;
}

.btn-group {
    margin: auto;
    display: block;
}

#section2, #section3, #section4 {
    display: none;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    margin-top: 15px;
}

#table1-2, #table1-3, #table1-4 ,
#table2-2, #table2-3, #table2-4,
#table3-2, #table3-3, #table3-4{
    display: none;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
    background-color: #fff8ad !important;
    border-color: #fff8ad !important;
}

.btn {
    color: black !important;
}

.btn-check:checked + .btn {
    color: #a30000 !important;
}

.btn:hover {
    color: #898989 !important;
}
