/* NAV BAR */
.navbar {
    background-color: #C2F9FE;
    box-shadow: 0 2px 4px 0 black;
    padding: 10px;
}

#logo {
    border-radius: 50%;
    max-width: 50px;
}

.navbar img {
    max-width: 75%;
}

.navbar .btn,
.navbar .btn:hover,
.navbar .btn:active,
.navbar .btn:visited,
.navbar .btn:focus {
    background-color: #fff8ad !important;
    border-color: #fff8ad !important;
}

.navbar .btn {
    color: black !important;
}

.navbar .btn-check:checked + .btn {
    color: #a30000 !important;
}

.navbar .btn:hover {
    color: #898989 !important;
}
/***********/

.container {
    margin-top: 20px;
}

.col-3 {
    border: 1px solid black;
    padding:10px;
}