{% extends 'base.html' %}

{% block head %}
    <title> WeiBayLLC E-Commerce </title>
{% endblock %}

{% block body %}
<body>
    <!-- search bar and enter button -->
    <div style="position:absolute; top:0; left:0;">
        <div style="border:1px solid black; padding:10px;">
            <form>
                <input type="text" placeholder="Search">
                <input type="submit" value="Enter">
            </form>
        </div>
    </div>
    
    <!-- login and apply -->
        <div style="position:absolute; top:0; right:0;">
            <a href="{{ url_for("_default.login") }}">Login</a> or <a href="{{ url_for("_default.apply") }}">Apply</a>
        </div>
    
        <!-- box below the top left box with a list and select boxes -->
        <div style="position:absolute; top:42px; left:0; bottom:0;">
         <div style="position:absolute; top:0; left:0;">
          <div style="border:1px solid black; padding:10px;">
          <h1>Category</h1>
          <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
          </ul>
    
          <h1>Condition</h1>
          <select>
            <option>New</option>
            <option>Open Box</option>
            <option>Used</option>
          </select>
    
          <h1>Rating</h1>
          <select>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
          <!-- insert star system here implementing css -->
          <h1>Price Range</h1>
          <form>
            Min: <input type="text">
          </form>
          <form>
            Max:<input type="text">
          </form>
        </div>
       </div>
      </div>
      </body>
{% endblock %}