.container {
    padding: 15px;
    height: 100%;
}

#section2, #section3, #section4,
#section5, #section6, #section7 {
    display: none;
}

.col-2 {
    background-color: #22e9fc;
    padding: 15px;
}

.col-2 > * {
    margin-top: 25px;
    margin-bottom: 25px;
}

.col-2, .col-10 {
    height: 100%;
}

.user-pic {
    width: 100%;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
    background-color: #c2f9fe !important;
    border-color: #c2f9fe !important;
}

.btn {
    color: black !important;
}

.btn-check:checked + .btn {
    color: #a30000 !important;
}

.btn:hover {
    color: #898989 !important;
}

th, td {
    padding: 10px;
}

/* SECTION 1 */
#section1 table, #section1 th, #section1 td {
    border: 3px solid white;
    border-collapse: collapse;
}

#section1 th {
    background-color: #d2d2d2;
}
/*************/

/* SECTION 2 */
/*************/

/* SECTION 3 */
#section3 img {
    max-width: 100%;
}

#section3 .card-text {
    text-align: left;
}

#section3 .row {
    margin: 15px;
}
/*************/

/* SECTION 4 */
#section4 .col-6 {
    text-align: center;
    background-color: #d2d2d2;
    /*margin: 10px;*/
    padding: 10px;
}

#section4 label {
    text-align: left;
}
/*************/

#section4 .data, #section6 .data {
    padding: 5px;
    width: 150px;
}

#section4 .group {
    margin: 15px;
}

/* SECTION 5 */
/*************/

/* SECTION 6 */
#section6 form {
    margin-bottom: 30px;
}

#section6 .group2 {
    display: inline;
    margin-right: 15px;
}

#section6 .group {
    margin: 15px 15px 15px 0px;
}
/*************/

/* SECTION 7 */
#section7 textarea {
    width: 400px
}

#section7 #user {
    width: 350px;
}

#section7 .group > * {
    margin: 15px 15px 15px 0px; /* top right bottom left */
    display: block;
}
/*************/